<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <h2><%= @article.title %></h2>
      <p><%= @article.content %></p>
      <br>
      <br>
      <%= link_to "Back to homepage", articles_path %>
    </div>
  </div>
</div>